<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!--    <settings>-->
<!--        &lt;!&ndash; 로깅 구현체로 SLF4J 사용 &ndash;&gt;-->
<!--        <setting name="logImpl" value="SLF4J"/>-->

<!--        &lt;!&ndash; 쿼리 실행 결과를 가져오기 (영향받은 행 수 등) &ndash;&gt;-->
<!--        <setting name="defaultExecutorType" value="REUSE"/>-->
<!--    </settings>-->
</configuration>
